#env files
.env

#GCP Service Account Keys
infra/keys/
*.json

#Python
__pycache__/
*.pyc
.venv/
ingestion/.ipynb_checkpoints/

# Data Dir (Big Data Files) 
data/

#uv
.python-version

#terraform
infra/terraform.tfvars
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/keys/
infra/.terraform/

#dbt
profiles.yml
~/.dbt/
analytics/dbt/bts_airline/target/
analytics/dbt/bts_airline/dbt_packages/
analytics/dbt/bts_airline/logs/
logs/